.gridcontein{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;
}

.grid1{
grid-column: 1/2;    
width: 90%;
margin: auto;
grid-row: 1/1;
padding: 0.5rem
}

.grid1 h3{
    font-size: 1.2rem;
    padding: 0.5rem;
}
.grid1 p , .grid2 p{
    padding: 0.5rem;
}
.grid2{
    grid-column: 2/2;
    width: 90%;
 margin: auto ;
 padding: 0.5rem
}